<div class='lightbox' data-id='{{id}}'>
  <div class='contents badge-details'>
    <header>
      <h2>{{badge.attributes.body.badge.name|e}}</h2>
      <span class='close'>&times;</span>
    </header>
    <div class='body'>

      <div class='confirm-disown'>
        <p> {{ "remove this badge" | gettext }}
        </p>
        <p> {{ "need to reconnect" | gettext | localVar(badge.attributes.body.badge.issuer.origin) }}
        </p>

        <div class='buttons'>
          <button class='btn nope'>{{ "Cancel" | gettext }}</button>
          <button class='btn yep btn-danger'>{{ "Yes" | gettext }}</button>
        </div>
      </div>

      <div class='confirm-facebook-share'>
	      {% include 'badge-facebook-share.html' %}
	    </div>
      {% include 'badge-data.html' %}
    </div>
  </div>
  <div class='background'></div>
</div>
